<mat-card>
	<mat-card-title>Cadastro de Clientes</mat-card-title>

	<button mat-raised-button (click)="navigateToClientsCreate()" color="primary">Novo</button>
	<button mat-raised-button (click)="createPdf()" color="primary">Relatório</button>

	<table mat-table class="full-width-table" [dataSource]="clientes">
		<ng-container matColumnDef="nome">
			<th mat-header-cell *matHeaderCellDef>Nome</th>
			<td mat-cell *matCellDef="let client">{{client.nome}}</td>
		</ng-container>

		<ng-container matColumnDef="telefone">
			<th mat-header-cell *matHeaderCellDef>Telefone</th>
			<td mat-cell *matCellDef="let client">{{client.telefone}}</td>
		</ng-container>

		<ng-container matColumnDef="dataCEP">
			<th mat-header-cell *matHeaderCellDef>Cep</th>
			<td mat-cell *matCellDef="let client">{{client.dataCEP}}</td>
		</ng-container>

		<ng-container matColumnDef="address">
			<th mat-header-cell *matHeaderCellDef>Endereço</th>
			<td mat-cell *matCellDef="let client">{{client.address}}</td>
		</ng-container>

		<ng-container matColumnDef="district">
			<th mat-header-cell *matHeaderCellDef>Bairro</th>
			<td mat-cell *matCellDef="let client">{{client.district}}</td>
		</ng-container>
		
		<ng-container matColumnDef="state">
			<th mat-header-cell *matHeaderCellDef>Estado</th>
			<td mat-cell *matCellDef="let client">{{client.state}}</td>
		</ng-container>
		<ng-container matColumnDef="city">
			<th mat-header-cell *matHeaderCellDef>Cidade</th>
			<td mat-cell *matCellDef="let client">{{client.city}}</td>
		</ng-container>
		<ng-container matColumnDef="disponivel">
			<th mat-header-cell *matHeaderCellDef>Disponível</th>
			<td mat-cell *matCellDef="let client">{{client.disponivel}}</td>
		</ng-container>

		<ng-container matColumnDef="action">
			<th mat-header-cell *matHeaderCellDef>Editar</th>
			<td mat-cell *matCellDef="let client">
				<a routerLink="/clientes/alteracao/{{ client.id }}" class="edit" *ngIf="client.disponivel === 'Sim'">
					<i class="material-icons">
						edit
					</i>
				</a>
			</td>
		</ng-container>

		<ng-container matColumnDef="excluir">
			<th mat-header-cell *matHeaderCellDef>Excluir</th>
			<td mat-cell *matCellDef="let client">
				<a routerLink="/clientes/delete/{{ client.id }}" class="delete" *ngIf="client.disponivel === 'Sim'">
					<i class="material-icons">
						delete
					</i>
				</a>
			</td>
		</ng-container>

		<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
		<tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
	</table>
</mat-card>
