<mat-sidenav-container class="container">
	<mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" fixedTopGap="64">
		<mat-nav-list class="nav-list">
			<button mat-button routerLink="/" routerLinkActive="Active">
				<span class="material-icons">home</span>
				Home
			</button>
			<button mat-button routerLink="/clientes" routerLinkActive="Active">
				<span class="material-icons">person</span>
				Clientes
			</button>
			<button mat-button routerLink="/cars" routerLinkActive="Active">
				<span class="material-icons">directions_car</span>
				Veículos
			</button>
			<button mat-button (click)="navigateToClientsAlugados()">
				<span class="material-icons">swap_vert</span>
				Aluguel
			</button>
			<button mat-button (click)="navigateToCarsDevolucao()">
				<span class="material-icons">swap_vert</span>
				Devolução
			</button>
		</mat-nav-list>
	</mat-sidenav>
	<mat-sidenav-content class="content">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>
