.content {
	padding: 15px;
    height: calc(100vh - 98px);
    border-radius: 20px;
    margin-left: 32px;

    font-size: 1rem;
    color: lightgray;
}

mat-sidenav {
    margin: 16px;
    width: 160px;
    background-color: #285991;
    color: white;
    border-radius: 20px;
    padding: 10px;
    text-align: left;
}

mat-sidenav-container {
    height: calc(100vh - 65px);
}
