.sidenav {
	background-color: steelblue;
	width: 200px;
}

.content {
	padding: 15px;
	background-color: aliceblue;
}

.mat-button {
	color: aliceblue;
}

.mat-mdc-form-field + .mat-mdc-form-field {
	margin-left: 8px;
}
