.home .title {
	font-size: 3rem;
	font-weight: 300;
	line-height: 1.2;
	text-align: center;
	color: #285991;
}

.home .subtitle {
	font-size: 1.1rem;
	text-align: center;
	color: #23476f;
}

.divider {
	margin-top: 10px;
}

.home {
	text-align: center;
}
