<mat-card class="container mat-elevation-z8">
	<mat-tab-group mat-stretch-tabs>
		<mat-tab label="Aba 1"> 
			<img src="https://www.pikpng.com/pngl/b/220-2200174_carros-png-carros-seminovos-png-clipart.png">
		</mat-tab>
		<mat-tab label="Aba 2">  
			<img src="https://www.pikpng.com/pngl/b/220-2200174_carros-png-carros-seminovos-png-clipart.png">
		</mat-tab>
		<mat-tab label="Aba 3"> 
			<img src="https://www.pikpng.com/pngl/b/220-2200174_carros-png-carros-seminovos-png-clipart.png">
		</mat-tab>
	</mat-tab-group>
</mat-card>
