<mat-card class="container mat-elevation-z8">
	<mat-tab-group mat-stretch-tabs>
		<mat-tab label="Populares"> 
			<img src="https://www.pikpng.com/pngl/b/220-2200174_carros-png-carros-seminovos-png-clipart.png">
		</mat-tab>
		<mat-tab label="Premium">  
			<img src="https://www.pikpng.com/pngl/b/578-5784139_used-cars-png-bunch-of-cars-png-clipart.png">
		</mat-tab>
		<mat-tab label="Luxo"> 
			<img src="https://www.pikpng.com/pngl/b/237-2370828_rent-a-car-at-the-best-prices-in.png">
		</mat-tab>
	</mat-tab-group>
</mat-card>
