<mat-card class="home mat-elevation-z8">
	<mat-card-title class="title">
		Bem Vindo!
	</mat-card-title>
	<mat-card-subtitle class="subtitle">
		Sistema de locação de veículos.
	</mat-card-subtitle>
</mat-card>
<mat-divider class="divider"></mat-divider>
<mat-card class="home mat-elevation-z8">
	<mat-tab-group mat-stretch-tabs>
		<mat-tab label="Aba 1"> 
			<img src="https://www.pikpng.com/pngl/b/220-2200174_carros-png-carros-seminovos-png-clipart.png">
		</mat-tab>
		<mat-tab label="Aba 2"> 
			<img src="https://www.pikpng.com/pngl/b/220-2200174_carros-png-carros-seminovos-png-clipart.png">
		</mat-tab>
		<mat-tab label="Aba 3"> 
			<img src="https://www.pikpng.com/pngl/b/220-2200174_carros-png-carros-seminovos-png-clipart.png">
		</mat-tab>
	</mat-tab-group>
</mat-card>
