.full-width-table {
	width: 100%;
}

.edit {
	margin: 5px;
	position: flex;
}

.edit > i {
	color: #0015a0;
}

.delete > i {
	color: red;
}

mat-card-title {
	text-align: center;
	color: #0015a0;
}

button {
	margin: 10px;
}
