<mat-toolbar class="footer">
	<a href="https://www.linkedin.com/in/jonasmachado/" target="_blank">
		<img class="icones" src="assets/img/linkedin.png" alt="Linkedin">
	</a>
	<a href="https://github.com/jonasrowd" target="_blank">
		<img class="icones" src="assets/img/github.png" alt="GitHub">
	</a>
	<a href="https://api.whatsapp.com/send?phone=5571999090360&text=Ol%C3%A1%20Jonas,%20Tudo%20bem?" target="_blank">
		<img class="icones" src="assets/img/whatsapp.png" alt="Celular">
	</a>
	<a href="mailto:nhjmachado@gmail.com" target="_blank">
		<img class="icones" src="assets/img/gmail.png" alt="E-mail">
	</a>
	<a href="https://jonasrowd.github.io/" target="_blank">
		<img class="icones" src="assets/img/internet.png" alt="Website">
	</a>
</mat-toolbar>
