<mat-card>
    <mat-card-title> Alterar Clientes </mat-card-title>
    <form>
      <mat-form-field>
        <input matInput placeholder="Nome" [(ngModel)]="clientes.nome" name="nome"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Telefone" [(ngModel)]="clientes.telefone" name="telefone"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cep" [(ngModel)]="clientes.dataCEP" name="cep"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Endereço" [(ngModel)]="clientes.address" name="endereco"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Bairro" [(ngModel)]="clientes.district" name="bairro"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Estado" [(ngModel)]="clientes.state" name="estado"/>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Cidade" [(ngModel)]="clientes.city" name="cidade"/>
      </mat-form-field>
    </form>
    <button mat-raised-button (click)="alteraClientes()" color="primary">Salvar</button>
    <button mat-raised-button (click)="cancel()">Cancelar</button>
</mat-card>
