<form class="cep-form" [formGroup]="cepForm">
	<div class="fields">
	<h4 class="descricao">
		Cadastro de Clientes
	</h4>

	<mat-form-field appearance="outline">
		<mat-label>CEP</mat-label>
		<input matInput type="text" [formControlName]="'valorCEP'" maxlength="8" autoFocus required (input)="searchCep()" />
		<mat-error *ngIf="cepForm.get('valorCEP')?.errors?.['required']">
		O campo CEP é obrigatório.
		</mat-error>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Endereço</mat-label>
		<input matInput type="text" readonly [formControlName]="'address'" [value]="address" [(ngModel)]="address" 	/>
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Bairro</mat-label>
		<input matInput readonly [formControlName]="'district'" [value]="district" [(ngModel)]="district"  />
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Cidade</mat-label>
		<input matInput readonly [formControlName]="'city'" [value]="city" [(ngModel)]="city" />
	</mat-form-field>
	<mat-form-field appearance="outline">
		<mat-label>Estado</mat-label>
		<input matInput readonly [formControlName]="'state'" [value]="state" [(ngModel)]="state" />
	</mat-form-field>
	<button (click)="searchCep()">Buscar</button>
	</div>
</form>
